/*    Style Guide
* Colors (**Pro Tip:** Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors that are used on webpages.)
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

* Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, 'Times New Roman', serif;`
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`

* Profile image in `index.html`:
   * Use a picture of yourself.

* Portfolio images:
   * Save the images to your `images` folder.

* Background images:
   * The background pattern used was found on [Subtle Patterns](https://subtlepatterns.com/). You can browse through that site and use whichever pattern you like.

* Dimensions:
   * The entire content and the main section content area is `960px` wide.
*/
* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: lightgray;
    z-index: -1;
  }

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.maincon {
    color: #777777;
    max-width: 960px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin: auto;
    clear: both;
    padding: 10px;
    border: 1px solid #dddddd;
}


.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin: 0 auto -45px;
}

.header1, .headerbox {
    height: 80px;
    margin: auto;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

.header1 {
    max-width: 960px;
}



.name1 {
    float: left;
    background-color: #4aaaa5;
    z-index: 3;
    width: 40%;
    min-width: 180px;
    Height: 80px;
    text-align: center;

}

#namelogo {
    color: #ffffff ;
}

.navbar {
    float: right;
    Height: 100px;
    margin: auto;
    box-sizing: border-box;
    padding: 35px 45px;
}

nav {
    word-spacing: 10px;
}

a:link, a:visited {
    color: #777777;
    text-decoration: none;
    display: inline-block;
  }
 

.profpic {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    float: left;
    margin: 7px;
}

h1.header2 {
    color: #4aaaa5;
}

.push {
    height: 45px;
}

footer {
    background-color: #666666;
    height: 45px;
    text-align: center;
    padding-top: 7px;
    border-top-width: 7px;
    border-right-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #4aaaa5;
}